:root {
  --purple: #2b2b8e;
}

/* General Body Styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #5a189a, #9d4edd, #e0aaff); 
  color: #333;
  height: 100vh;
  width: 100%;
}

/*
Child of searchWrapper
Styling for searchbars for book titles and authors
*/
.search {
  width: 100%; /*Full Width of searchWrapper */
  display: flex; /*Display used is flexible */
  flex-direction: column; /*Place all items in searchbar in a row */
  margin-top: -5rem;
}

/*
Child of searchbars
Styling for book title searchbar
*/
#searchForm {
  width: 54.5%;
  /*Take full width of searchbar  */
  display: flex;
  flex-direction: row;
  margin: auto;
}


/*Child of searchbar and Styling for search bar */
#searchBar {
  width: 100%; /*Full width of searchbar */
  height: 4rem;
  color: var(--purple);
  text-align: center;
  border-radius: 30px;
  border: 2px white;
  background-color: #d0c1e9;
  font-size: 2rem;
  outline: none;
}

.auth-buttons {
  position: fixed;
  width: 10%;
  bottom: 20px;
  right: 20px;
}

.auth-buttons button {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.auth-buttons button:hover {
  background-color: #1e1e70;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.modal-content input {
  width: 94%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.modal-content button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #1e1e70;
}

.close {
  position: absolute;
  top: 10%;
  right: 38%;
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}